/* PHASE 2: Navigation */

.header-logo {
  float: left;
  border-right: solid #ccc;
  font-weight: bold;
}

.header-logo:hover {
  background: #000;
}

.header-list {
  float: right;
  border-left: solid #ccc;
}

.header-list > li {
  float: left;
}

.header-list > li:hover {
  background: #000;
}
