<section class="page"><div class="centered-box">
  <h1>Edit My Cat</h1>
  <%= render 'shared/errors' %>
  <%= render 'form', cat: @cat %>
</div></section>

<% content_for :footer do %>
  <p>This is Edan, and THIS is the edit page.</p>
  <% end %>
